.home-page-mobile {
  .carousel {
    width: 100%;
    opacity: 1;
    .slider {
      position: relative;
      .carousel-inner {
        img {
          @include responsive("xs") {
            height: 200px;
          }
          @include responsive("mdd") {
            height: 400px;
          }
        }
        .carousel-item {
          position: relative;
          .overlay {
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.4);
            min-height: 100%;
            width: 100%;
          }
          img {
            @include responsive("xs") {
              height: 200px;
            }
            @include responsive("mdd") {
              height: 400px;
            }
          }
          .carousel-caption {
            h5 {
              @include text($text-2xl, $text-semiBold, $text-c1-light);
              border-radius: 25px;
            }
            p {
              @include text($text-xl, $text-semiBold, $text-c1-light);
            }
          }
        }
      }
    }
    .carousel-control-prev-icon {
      background-size: 50% 50%;
      background-color: $bg-header-main;
      border-radius: 50px;
      padding: 24px;
    }
    .carousel-control-next-icon {
      @extend .carousel-control-prev-icon;
    }
    .introduce {
      z-index: 10;
      position: absolute;
      width: 400px;
      text-align: center;
      transform: translate(46%, 145%);
      h3 {
        animation: FadeInLeft 3s;
        color: $text-c1-light;
        border-radius: 10px;
        padding: 10px;
        @include responsive("xs") {
          font-size: $text-base;
        }
        @include responsive("mdd") {
          font-size: $text-3xl;
        }
      }
      .btn {
        @include button(
          $text-base,
          $text-regular,
          $text-c1-light,
          $bg-header-main,
          5px
        );
        @include responsive("xs") {
          font-size: $text-xs;
          padding: 3px;
        }
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid $bg-header-main;
        transition: box-shadow 600ms ease-in-out, color 300ms ease-in-out;
        animation: FadeInTop 3s;
        &:hover {
          font-weight: $text-semiBold;
          color: $text-c1-main;
          box-shadow: 0 0 40px 40px $bg-header-light inset;
        }
      }
    }
  }
  .about-mobile {
    // padding: 10vh 30vh;
    @include responsive("lg") {
      padding: 0;
    }
    @include responsive("xl") {
      // padding: 10vh 30vh;
    }
    .about-left {
      text-align: justify;
      padding: 0 4vh;
    }
    .about-right {
      @for $i from 0 to 4 {
        .pic-#{$i + 1} {
          animation: FadeInTop (0.5s * $i + 1);
        }
      }
    }
  }
  .content {
    .main {
      .list-detail {
        padding: 20px;
        margin-bottom: 30px;
        min-height: 220px;
        position: relative;
        .room-detail {
          .booking-room {
            .react-multi-carousel-list {
              padding: 0;
              .react-multi-carousel-item {
                display: flex;
                justify-content: center;
              }
            }
            .room-body {
              .thumbnail {
                img {
                  width: 300px !important;
                  height: 200px;
                  object-fit: cover;
                }
              }
              .detail {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 300px !important;
                .info {
                  h5 {
                    @include text($text-base, $text-semiBold, $text-c1-dark);
                  }
                  p {
                    @include text($text-xs, $text-regular, $text-c1-dark);
                  }
                }
                .view-more {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: end;
                  .button {
                    margin-bottom: 10px;
                    a {
                      font-size: $text-xl;
                      color: $text-c1-light;
                      text-align: center;
                      position: relative;
                      transition: all 0.7s;
                      text-decoration: none;
                      &::after {
                        position: absolute;
                        content: ">>";
                        transition: all 0.5s;
                        opacity: 0;
                        top: 1px;
                        right: -50px;
                      }
                      &:hover {
                        padding-right: 40px;
                        padding-left: 10px;
                        &::after {
                          opacity: 1;
                          right: 10px;
                        }
                      }
                      span {
                        position: relative;
                        z-index: 2;
                      }
                    }
                  }
                  .price {
                    a {
                      background: $bg-header-main;
                      color: $text-c1-light;
                      font-size: $text-base;
                      &:hover {
                        opacity: 0.8;
                        transition: all 0.5s;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .banner {
    .react-player__preview {
      height: 250px !important;
    }
    .main:before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.45);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    .wrapper {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .video-main {
      position: relative;
      display: inline-block;
    }
    .video {
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 100%;
      background: transparent;
      color: #fff;
      display: inline-block;
      background-color: #fff;
      z-index: 999;
    }
    .waves {
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: #fff;
      opacity: 0;
      border-radius: 100%;
      right: -50px;
      bottom: -50px;
      z-index: -1;
      animation: waves 3s ease-in-out infinite;
    }
    .wave-1 {
      animation-delay: 0s;
    }
    .wave-2 {
      animation-delay: 1s;
    }
    .wave-3 {
      animation-delay: 2s;
    }
  }
  .blog {
    .main {
      .item {
        .thumbnail {
          .picture {
            overflow: hidden;
            object-fit: cover;
            @include responsive("lg") {
              height: 200px;
            }
            @include responsive("xl") {
              height: 100px;
            }
          }
          &:hover {
            img {
              cursor: pointer;
              transform: scale(1.2) rotate(3deg);
              transition: 0.4s;
              object-fit: cover;
            }
          }
        }
        .detail {
            font-size: 12px;
          a {
            &:hover {
              transition: all 0.3s;
              color: $text-c1-main !important;
            }
          }
          .read-more {
            font-size: 12px;
            &:hover {
              background-color: $bg-header-light;
            }
          }
        }
      }
    }
  }
  .media {
    .item {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 30%,
          rgb(0, 0, 0) 100%
        );
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        transition: all 0.8s;
      }
      &:hover {
        &::before {
          cursor: pointer;
          content: "Instagram";
          font-size: 22px;
          font-weight: 700;
          writing-mode: vertical-lr;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          color: #fff;
          background: rgba(0, 0, 0, 0.5);
          animation: main 0.8s;
          transform-origin: 0 100%;
        }
        .link {
          transition: all 0.5s;
          display: block;
          z-index: 555;
        }
      }
      .link {
        display: none;
        top: 45%;
        left: 45%;
      }
      img {
      }
    }
  }

  .react-multi-carousel-dot button {
    width: 13px;
    height: 13px;
    border-width: 1px;
    border-color: darkgrey;
  }
}
