.home-page {
  .carousel {
    width: 100%;
    opacity: 1;
    .slider {
      position: relative;
      .carousel-inner {
        .carousel-item {
          position: relative;
          .overlay {
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            min-height: 100%;
            width: 100%;
          }
          img {
            @include responsive("md") {
              height: 500px;
            }
            @include responsive("lg") {
              height: 970px;
            }
          }
          .carousel-caption {
            h5 {
              @include text($text-3xl, $text-semiBold, $text-c1-light);
            }
            p {
              @include text($text-xl, $text-semiBold, $text-c1-light);
            }
          }
        }
      }
    }
    .carousel-control-prev-icon {
      background-size: 50% 50%;
      background-color: $bg-header-main;
      border-radius: 50px;
      padding: 24px;
    }
    .carousel-control-next-icon {
      @extend .carousel-control-prev-icon;
    }

    .introduce {
      z-index: 10;
      position: absolute;
      transform: translate(109%, 260%);
      width: 700px;
      text-align: center;
      @include responsive("lg") {
        transform: translate(13%, 290%);
      }
      @include responsive("xl") {
        transform: translate(86%, 260%);
      }
      h1 {
        animation: FadeInLeft 3s;
        color: $text-c1-light;
        border-radius: 10px;
        padding: 10px;
        @include responsive("mdd") {
          font-size: $text-3xl;
        }
        @include responsive("lg") {
          font-size: $text-5xl;
        }
      }

      .btn {
        color: $text-c1-light;
        background-color: $bg-header-main;
        cursor: pointer;
        padding: 10px;
        font-style: $text-base;
        border-radius: 10px;
        border: 1px solid $bg-header-main;
        transition: box-shadow 600ms ease-in-out, color 300ms ease-in-out;
        animation: FadeInTop 3s;
        &:hover {
          font-weight: $text-semiBold;
          color: $text-c1-main;
          box-shadow: 0 0 40px 40px $bg-header-light inset;
        }
      }
    }
  }
  .about {
    @include responsive("lg") {
      padding: 5vh;
    }
    @include responsive("xl") {
      padding: 10vh;
    }
    .about-left {
      text-align: justify;
      padding: 0 10vh;
      a {
        padding: 10px 30px;
        color: #fff;
        background-color: #f7345e;
        &:hover {
          transition: all 0.6s;
          background-color: #1c0950;
        }
      }
    }
    .about-right {
      @include responsive("lg") {
        padding: 50px 0;
      }
      @include responsive("xl") {
        padding-top: 0;
      }
      @for $i from 0 to 4 {
        .pic-#{$i + 1} {
          animation: FadeInTop (0.5s * $i + 1);
        }
      }
      .pic-about {
        overflow: hidden;
        cursor: pointer;
        .detail {
          p {
            font-size: 15px;
          }
          h3 {
            font-size: 24px;
          }
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transform: translateY(100%);
          transition: transform 0.5s ease-in-out;
          z-index: 1;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          visibility: hidden;
          z-index: 0;
        }
        &:hover {
          &::after {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.5s;
          }
          .detail {
            transform: translateY(30%);
          }
          .thumbnail {
            img {
              transform: scale(1.2);
            }
          }
        }
        .thumbnail {
          img {
            height: auto;
            object-fit: cover;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
  .content {
    .main {
      .list-detail {
        .room-detail {
          .booking-room {
            .room-body {
              .thumbnail {
                img {
                  height: 200px;
                  object-fit: cover;
                }
              }
              .detail {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .info {
                  h5 {
                    @include text($text-xl, $text-semiBold, $text-c1-dark);
                  }
                  p {
                    @include text($text-base, $text-regular, $text-c1-dark);
                  }
                }
                .view-more {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  .button {
                    margin-right: 10px;
                      a {
                        font-size: $text-xl;
                        color: $text-c1-light;
                        text-align: center;
                        position: relative;
                        transition: all 0.7s;
                        text-decoration: none;
                        &::after {
                          position: absolute;
                          content: ">>";
                          transition: all 0.5s;
                          opacity: 0;
                          top: 1px;
                          right: -50px;
                        }
                        &:hover {
                          padding-right: 40px;
                          padding-left: 10px;
                          &::after {
                            opacity: 1;
                            right: 10px;
                          }
                        }
                        span {
                          position: relative;
                          z-index: 2;
                        }
                      }
                  }
                  .price {
                    a {
                      background: $bg-header-main;
                      color: $text-c1-light;
                      font-size: $text-xl;
                      &:hover {
                        opacity: 0.8;
                        transition: all 0.5s;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .convenient {
        .main {
          @for $i from 0 to 4 {
            .item-#{$i + 1} {
              animation: FadeInTop (0.1s * $i + 1);
            }
          }
          .service {
            padding: 25px;
            .thumbnail {
              img {
                height: 200px;
                border-radius: 10px;
              }
            }
            p {
              padding-top: 5px;
            }
          }
        }
      }
    }
  }
  .banner {
    .react-player__preview {
      height: 650px !important;
    }
    .main:before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.45);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    .wrapper {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .video-main {
      position: relative;
      display: inline-block;
    }
    .video {
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 100%;
      background: transparent;
      color: #fff;
      display: inline-block;
      background-color: #fff;
      z-index: 999;
    }
    .waves {
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: #fff;
      opacity: 0;
      border-radius: 100%;
      right: -50px;
      bottom: -50px;
      z-index: -1;
      animation: waves 3s ease-in-out infinite;
    }
    .wave-1 {
      animation-delay: 0s;
    }
    .wave-2 {
      animation-delay: 1s;
    }
    .wave-3 {
      animation-delay: 2s;
    }
  }
  .blog {
    .main {
      .item {
        .thumbnail {
          .picture {
            overflow: hidden;
            object-fit: cover;
            img {
              @include responsive("lg") {
                height: 150px !important;
              }
              @include responsive("xl") {
                height: 250px !important;
              }
            }
          }
          &:hover {
            img {
              cursor: pointer;
              transform: scale(1.2) rotate(3deg);
              transition: 0.4s;
              object-fit: cover;
            }
          }
        }
        .detail {
          @include responsive("lg") {
            font-size: 12px;
          }
          @include responsive("xl") {
            font-size: 16px;
          }
          a {
            &:hover {
              transition: all 0.3s;
              color: $text-c1-main !important;
            }
          }
          .comment {
            a {
            }
          }
          .read-more {
            &:hover {
              background-color: $bg-header-light;
            }
            @include responsive("lg") {
              font-size: 12px;
            }
            @include responsive("xl") {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .media {
    .item {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 30%,
          rgb(0, 0, 0) 100%
        );
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        transition: all 0.8s;
      }
      &:hover {
        &::before {
          cursor: pointer;
          content: "";
          font-size: 22px;
          font-weight: 700;
          writing-mode: vertical-lr;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          color: #fff;
          background: rgba(0, 0, 0, 0.5);
          animation: main 0.8s;
          transform-origin: 0 100%;
        }
        .link {
          transition: all 0.5s;
          display: block;
          z-index: 555;
        }
        .description {
          transition: all 0.5s;
          display: block;
          z-index: 555;
        }
      }
      .link {
        display: none;
        top: 45%;
        left: 45%;
      }
      .description {
        display: none;
        top: 0;
        left: 0;
        writing-mode: vertical-lr;
      }
      img {
      }
    }
  }

  .react-multi-carousel-dot button {
    width: 13px;
    height: 13px;
    border-width: 1px;
    border-color: darkgrey;
  }
}
.loader-container {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
  }
}
@keyframes FadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeInTop {
  from {
    opacity: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
  }
}
@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes main {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes waves {
  0% {
    transform: scale(0.2, 0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: scale(0.9, 0.9);
    opacity: 0;
  }
}
