@mixin text($fz, $fw, $c) {
  font-size: $fz;
  font-weight: $fw;
  color: $c;
}

@mixin button($fz, $fw, $c, $bg, $pd) {
  @include text($fz, $fw, $c);
  background: $bg;
  padding: $pd;
  cursor: pointer;
}
@mixin responsive($breakpoint) {
  @if $breakpoint == "xs" {
    @media (min-width: 345px) {
      @content;
    }
  }
  @if $breakpoint == "mdd" {
    @media (min-width: 414px) {
      @content;
    }
  }
  @if $breakpoint == "md" {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == "lg" {
    @media (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == "xl" {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == "xxl" {
    @media (min-width: 1400px) {
      @content;
    }
  }
}
