$text-c1-dark: #000;
$text-c1-light: #fff;
$text-c1-grey: #cecece;
$text-c1-footer: #222222;
$text-c1-main: #ff385c;

$text-xs: 13px;
$text-base: 14px;
$text-xl: 16px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;


$text-light: 300;
$text-regular: 400;
$text-semiBold: 500;
$text-bold: 800;


$bg-header-main: #ff385c;
$bg-header-light: #ffffff;
$bg-grey: #cecece;

